@import 'variables';

.t2-header{
    height: 55px;
    width: 100%;
    box-shadow: 0  2px 7px rgba($color: #000000, $alpha: 0.7);
}

.t2-navbar{
    background: $primary-color;
    
    a{
        color: white !important;

        &:hover{
            text-decoration: underline;
        }
    }


    .t2-dropdown{
        background: $primary-color;
        border: 0;
        .t2-dropdown-item{
            background: none;
        }
    }
}

.t2-main{
    //background-color: aqua;
    height: calc(100vh - 55px);
    width: 100vw;
    padding-top: 15vh;

    .t2-section{
        width: 100%;
        height: 100%;
        //background-color: chocolate;
        
        .t2-container{
            margin-top: 200px;

            
        }
        
    }
}

.t2-background{
    min-height: 100vh;
    background-image: linear-gradient(
    125deg,
    hsl(0deg 0% 95%) 0%,
    hsl(45deg 8% 92%) 1%,
    hsl(45deg 11% 90%) 7%,
    hsl(45deg 13% 87%) 20%,
    hsl(45deg 15% 84%) 41%,
    hsl(32deg 24% 82%) 62%,
    hsl(22deg 32% 80%) 78%,
    hsl(12deg 37% 80%) 90%,
    hsl(0deg 37% 79%) 100%
  );
    background-repeat: no-repeat;
    background-size: cover;
  }

