@import 'variables';

.t2-button{
    border-radius: 20px;
    border: 1px solid $primary-color;
    font-weight: 500;
    color: $primary-color;
    text-decoration: none;
    padding: 3px 12px;
    &:hover{
        color: white;
        text-decoration: none;
        background-color: $primary-color;
        //box-shadow: 0  1px 4px rgba($color: #000000, $alpha: 0.7);
    }
}

.t2-card{
    //border: 1px solid $primary-color;
    border-radius: 20px;
    box-shadow: 0  2px 7px rgba($color: #000000, $alpha: 0.7);
}

.t2-form-control{
    border-radius: 20px;
}