@import 'variables';

.t2-button{
    border-radius: 20px;
    border: 1px solid $primary-color;
    font-weight: 500;
    color: $primary-color;
    text-decoration: none;
    padding: 3px 12px;
    &:hover{
        color: white;
        text-decoration: none;
        background-color: $primary-color;
        transition: all 0.3s;
        cursor: pointer;
        //box-shadow: 0  1px 4px rgba($color: #000000, $alpha: 0.7);
    }
    a{
        text-decoration: none;
        color: $primary-color;
        &:hover{
            color: white;
            text-decoration: none;
            
            cursor: pointer;
        }
    }
}

.t2-container-card{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.t2-card{
    //border: 1px solid $primary-color;
    border-radius: 20px;
    box-shadow: 0  2px 7px rgba($color: #000000, $alpha: 0.7);
    background-color: white;
    //margin-right: calc(25% / 3 );
    
}
.t2-card-2{
    //border: 1px solid $primary-color;
    border-radius: 20px;
    box-shadow: 0  2px 7px rgba($color: #000000, $alpha: 0.7);
    background-color: white;
    margin-right: calc(25% / 3 );
    
}

.t2-form-control{
    border-radius: 20px;

    width: 100%;
    padding: 5px 10px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: $primary-color;

}

.container-card{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-square{
    width: 30vw;

}

.t2-message{
    box-shadow: 0  2px 7px rgba($color: #000000, $alpha: 0.7);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
}

.t2-image{
    img{
        max-height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
  }
  
  .button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
  }
  
  .button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
  }
  
  .button--green:hover {
    background-color: #8bdda8;
    color: white;
  }